<div class="container p-5"
     cdkDropList
     cdkDropListOrientation="horizontal"
     [cdkDropListData]="lists"
     (cdkDropListDropped)="dropList($event)">
  <div class="row" cdkDropListGroup>
    <div class="col-md-4" *ngFor="let list of lists">
      <div class="card" cdkDrag>
        <div class="card-body">
          <h2>{{list.title}}</h2>
          <div
            cdkDropList
            [cdkDropListData]="list.board_cards"
            class="example-list"
            (cdkDropListDropped)="dropCard($event)">
            <div class="example-box" *ngFor="let item of list.board_cards" cdkDrag>{{item.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
